@charset "utf-8";
body {
  font-family: 'Raleway';
  color: black;
  letter-spacing: .03em;
  margin: 0px;
}

header {
  height: 80px;
  width: 100%;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
  list-style: none;
  color: black;
  font-size: 18px;
  margin: 0 30px;
  letter-spacing: 1px;
  padding: 15px 10px;
}

.nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: 10px;
}

.nav ul li a:hover {
  border: 1px solid black;
  padding: 15px 10px;
  margin-top: 10px;
  transition: .3s;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.nav ul li a:active {
  border: 1px solid black;
  padding: 20px 15px;
  margin-top: 18px;
  transition: .2s;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

div#content-wrapper {
  background: url(images/contact-img.png);
  background-size: cover;
  background-position-y: -70px;
}

div#container {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 60%;
}

h3.content-title {
  margin: 20px 0 50px 0;
  font-family: 'Sofia', cursive;
  font-size: 4rem;
  width: 100%;
  text-align: center;
}

.content {
  width: 65%;
  margin: 0 auto;
}

.my-message {
  padding: 30px 0;
  margin: 0 auto;
  width: 80%;
}

p {
  font-size: 20px;
  padding: 0;
  letter-spacing: 2px;
  margin: 0;
}

#name {
  width: 250px;
  height: 30px;
}

#address {
  width: 250px;
  height: 30px;
}

textarea#message {
  width: 550px;
  height: 170px;
}

.placeholder {
  text-align: center;
}

.btn-wrapper {
  margin-top: 30px;
  text-align: center;
}

.flex {
  justify-content: space-around;
  display: flex;
  margin: 20px 0 80px 0;
}

.btn {
  padding: 20px 40px;
  cursor: pointer;
  background-color: #0bd;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  transition: .3s;
  margin-top: 10px;
  display: inline-block;
}

.btn:hover {
  box-shadow: 0 1px 0 rgba(136, 136, 136, 1);
  margin-top: 18px;
  box-shadow: none;
  background-color: #07859c;
}

#sp-menu {
  opacity: 0;
}

@media screen and (max-width: 896px) {
  div#content-wrapper {
    background-position-y: 0px;
  }
  div#container {
    width: 75%;
  }
  h3.content-title {
    font-size: 3.5rem;
  }
  p {
    font-size: 1rem;
  }
  textarea#message {
    height: 150px;
  }
  .flex {
    flex-direction: column;
    margin: 20px 0 60px 0;
  }
  #name {
    margin-bottom: 40px;
  }
  .placeholder {
    text-align: left;
  }
.nav {
    width: 200px;
    top: 0;
    height: 300px;
    position: fixed;
    background: #211a1a99;
    z-index: 0;
    padding: 10px 0;
}
.nav ul {
    height: 100%;
    flex-flow: column;
}
.nav li {
    height: 20%;
    list-style: none;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}
  .nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #open {
    font-size: 40px;
    line-height: 64px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    color: black;
  }
  #close {
    font-size: 40px;
    line-height: 64px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    z-index: 1;
    color: white;
    top: 0;
  }
  #pc-menu {
    display: none;
  }
  #sp-menu {
    opacity: 1;
  }
  #overlay {
    display: none;
  }
  #close {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  div#content-wrapper {
    background-position-x: -100px;
  }
  div#container {
    width: 70%;
    height: 110vh;
  }
  div#content {
    margin: 0;
  }
  h3.content-title {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 20px;
  }
  .flex {
    flex-direction: column;
    margin: 20px 0 60px 0;
  }
  textarea#message {
    width: 100%;
    height: 160px;
  }
  #name {
    margin-bottom: 40px;
  }
  .btn-wrapper {
    margin-top: 60px;
  }
  nav {
    width: 135px;
    height: 230px;
  }
  .nav li {
    font-size: 14px;
    padding: 10px 0;
  }
  #close {
    font-size: 30px;
  }
  #open {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  div#content-wrapper {
    background-position-x: -233px;
    background-position-y: 30px;
  }
  h3.content-title {
    font-size: 2.8rem;
  }
  div#container {
    width: 80%;
    height: 140vh;
  }
  .my-message {
    padding: 20px 0 50px 0;
  }
  p {
    letter-spacing: 5px;
  }
  #name {
    width: 180px;
    height: 30px;
    margin-bottom: 60px;
  }
  #address {
    width: 180px;
    height: 30px;
  }
}